* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #2f0a6d;
}

.navbar-logo {
    background-color: #17125f;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo-container .logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.nav-list-logo {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-list-logo li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
}

.nav-list-logo li a:hover {
    background-color: #ff0000;
    color: #222;
}

.slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.tarjetas {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.tarjetas img {
    width: 85%;
    height: 85%;
    border-radius: 10px;
    display: block;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.tarjetas::after {
    content: 'Ver plataforma';
    position: absolute;
    top: 50%;
    left: 42.5%;
    transform: translate(-50%, -50%) translateY(20px);
    color: #fff8fb;
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2;
}


.tarjetas:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}

