* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #2f0a6d;
}

.navbar-logo {
    background-color: #17125f;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo-container .logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.nav-list-logo {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-list-logo li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px 12px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 4px;
}

.nav-list-logo li a:hover {
    background-color: #02e6ff;
    color: #222;
}

.slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.tarjetas {
    width: 96%;
    overflow: hidden; 
}

.tarjetas img {
    width: 95%;
    height: 85%;
    border-radius: 10px;
    transform: scale(0.95); 
    opacity: 0; 
    /* Apply the animation */
    animation: zoomIn 0.8s ease-out forwards;
}

@keyframes zoomIn {
    from {
        transform: scale(0.95); 
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1; 
    }
}
.tarjetas.tarjeta0 img { 
    animation-delay: 0s; }
.tarjetas.tarjeta1 img { 
    animation-delay: 1s; }
.tarjetas.tarjeta2 img { 
    animation-delay: 2s; }
.tarjetas.tarjeta3 img { 
    animation-delay: 3s; }
.tarjetas.tarjeta4 img { 
    animation-delay: 4s; }
.tarjetas.tarjeta5 img { 
    animation-delay: 5s; }
.tarjetas.tarjeta6 img { 
    animation-delay: 6s; }
.tarjetas.tarjeta7 img {
     animation-delay: 7s; }